body {
  height: 100vh;
  background: black;
  background-image: url(../images/background.png);
  background-size: cover;
  margin: 0;
  #claptrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16%;
    transition: 1s cubic-bezier(0, 0, 0.59, 1.29);
    transform: translateY(1000px);
  }
  .container {
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    #logo {
      width: 50%;
      margin: 0 auto;
    }
  }
  .counter {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    color: white;
    text-align: center;
    align-content: center;
    justify-content: center;
    .col {
      padding: 0 2rem;
    }
  }
}
